{% extends 'base.html' %}

{% block title %}
Add player
{% endblock %}

{% block content %}
<form method="POST">
<!--    Define all the labels for the rows-->
    {{form.hidden_tag()}}
    <div>
        {{form.name.label}}
        {{form.name()}}
    </div>
    <div>
        {{form.balance.label}}
        {{form.balance()}}
    </div>
    {{form.submit()}}

</form>
<!--    # On okay, add the row at the bottom and give choice to create a new player before submitting it all-->

<!--    # On submit send all new entries to database for storage-->


{% endblock %}