{% extends 'base.html' %}

{% block title %}
Add player
{% endblock %}

{% block content %}
<form method="POST">
<!--    Define all the labels for the rows-->
    <label for="name" name="name">Name</label>
    <br>
<!--    # Then define all the input fields-->
    <input type="text" id="name">

    <input class="btn btn-primary ml-2" type="submit" value="Submit">
</form>
<!--    # On okay, add the row at the bottom and give choice to create a new player before submitting it all-->

<!--    # On submit send all new entries to database for storage-->


{% endblock %}