{% extends 'base.html' %}

{% block title %}
People
{% endblock %}

{% block content %}
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</html>

<div align="right" >
    <a role="button" class="btn btn-primary" href="{{url_for('people.add_player')}}">
        + New Player
    </a>
</div>
<div class="list-group mt-2">
    {%for name in players%}
    <div class="list-group-item">
        <div class="name"> {{name.capitalize()}} </div>
        <a class="btn btn-sm btn-secondary " href="{{url_for('people.edit_player')}}">Change Name</a>
        <a class="btn btn-sm btn-secondary" href="#">+Payment</a>
        <a class="btn btn-sm btn-secondary" href="#">+Credit</a>
        <a class="btn btn-sm btn-secondary" href="#">+Fine</a>
    </div>
    {%endfor%}
</div>

{% endblock %}