{% extends 'base.html' %}

{% block title %}
People
{% endblock %}

{% block content %}

<div align="right" >
    <a role="button" class="btn btn-primary" href="{{url_for('people.add_player')}}">
        + New Player
    </a>
</div>
<div class="list-group mt-2">
    {%for player in players%}
    <div class="list-group-item">
        <div class="name"> {{player.name.capitalize()}} {{player.balance}}</div>
        <a class="btn btn-sm btn-secondary" href="#">+Payment</a>
        <a class="btn btn-sm btn-secondary" href="#">+Fine</a>
        <a class="btn btn-sm btn-secondary" href="{{url_for('people.edit_person')}}/{{player.name}}" style="float: right;">Edit player</a>
    </div>
    {%endfor%}
</div>

{% endblock %}